# general things to ignore
/build/
.idea/
dist/
venv/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.pytest_cache/
*.so
*~
config_local.json

# due to using tox and pytest
.tox
.cache
*.iml
*.local*
jyotisha/panchaanga/temporal/data/festival_rules_test.json
jyotisha_tests/update_test_json.py
*.swp
/jyotisha/panchaanga/temporal/festival/data/migrated
/docs/_site/
/docs/.jekyll-cache/
.venv/pyvenv.cfg
.venv/Scripts/activate
.venv/Scripts/activate.bat
.venv/Scripts/Activate.ps1
.venv/Scripts/censusgeocode.exe
.venv/Scripts/chardetect.exe
.venv/Scripts/deactivate.bat
.venv/Scripts/dmypy.exe
.venv/Scripts/f2py.exe
.venv/Scripts/fits2bitmap.exe
.venv/Scripts/fitscheck.exe
.venv/Scripts/fitsdiff.exe
.venv/Scripts/fitsheader.exe
.venv/Scripts/fitsinfo.exe
.venv/Scripts/flask.exe
.venv/Scripts/fonttools.exe
.venv/Scripts/futurize.exe
.venv/Scripts/geocode.exe
.venv/Scripts/google-oauthlib-tool.exe
.venv/Scripts/httpx.exe
.venv/Scripts/icalendar.exe
.venv/Scripts/jsonschema.exe
.venv/Scripts/markdown-it.exe
.venv/Scripts/mypy.exe
.venv/Scripts/mypyc.exe
.venv/Scripts/normalizer.exe
.venv/Scripts/nose2.exe
.venv/Scripts/numpy-config.exe
.venv/Scripts/pasteurize.exe
.venv/Scripts/pip.exe
.venv/Scripts/pip3.10.exe
.venv/Scripts/pip3.exe
.venv/Scripts/py.test.exe
.venv/Scripts/pyftmerge.exe
.venv/Scripts/pyftsubset.exe
.venv/Scripts/pygmentize.exe
.venv/Scripts/pyrsa-decrypt.exe
.venv/Scripts/pyrsa-encrypt.exe
.venv/Scripts/pyrsa-keygen.exe
.venv/Scripts/pyrsa-priv2pub.exe
.venv/Scripts/pyrsa-sign.exe
.venv/Scripts/pyrsa-verify.exe
.venv/Scripts/pytest.exe
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
.venv/Scripts/qtoml_testdecode.exe
.venv/Scripts/qtoml_testencode.exe
.venv/Scripts/roman.exe
.venv/Scripts/samp_hub.exe
.venv/Scripts/sanscript.exe
.venv/Scripts/showtable.exe
.venv/Scripts/stubgen.exe
.venv/Scripts/stubtest.exe
.venv/Scripts/tqdm.exe
.venv/Scripts/ttx.exe
.venv/Scripts/typer.exe
.venv/Scripts/volint.exe
.venv/Scripts/wcslint.exe
.venv/Scripts/wordcloud_cli.exe
.venv/Scripts/wsdump.exe
.venv/share/man/man1/ttx.1
.gitignore
.python-version
